body {
    font-family: system-ui, -apple-system, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .ticker-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 40px;
    background-color: #23232e;
    color: #fff;
  }
  
  .ticker {
    list-style: none;
    display: inline-block;
    padding-left: 100%; /* Para iniciar a animação fora da tela */
    white-space: nowrap;
    animation: tickerAnimation 160s linear infinite; /* Altere a velocidade (15s) conforme desejado */
  }
  
  .ticker li {
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
  }
  
  @keyframes tickerAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  